<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- 定义被代理者 -->
    <bean id="robot" class="com.camellibby.aop.aspect.Robot"/>

    <!-- 定义通知内容，也就是切入点执行前后需要做的事情 -->
    <bean id="aspectHandler" class="com.camellibby.aop.aspect.AspectHandler"/>
    <aop:config>
        <aop:aspect ref="aspectHandler">
            <aop:pointcut id="myPointCut" expression="execution(* com.camellibby.aop.aspect.Robot.hello(..))"/>
            <aop:before method="before" pointcut-ref="myPointCut"/>
            <aop:after method="after" pointcut-ref="myPointCut"/>
            <aop:after-returning method="afterReturning" pointcut-ref="myPointCut" returning="result"/>
            <aop:after-throwing method="afterThrowing" pointcut-ref="myPointCut" throwing="e"/>
            <aop:around method="around" pointcut-ref="myPointCut"/>
        </aop:aspect>
    </aop:config>
    <aop:aspectj-autoproxy/>

</beans>